<aside ng-class="{'col-sm-2 aside': menu === 1}" ng-show="authenticated===1">
        <button class="btn btn-primary" ng-click="menuToggle()"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
          <ul class="nav nav-pills nav-stacked" ng-show="menu === 1">
          <hr>
            <li ng-class="{'active':page==='home'}"><a href="#/"><span class="glyphicon glyphicon-home"></span>&nbsp Home</a></li>
            <li ng-class="{'active':page==='staffSearch'||page==='staffList'||page==='staffDetail'||page==='staffSummary'||page==='addStaff'||page==='editStaff'}"><a href="#/staff"><span class="glyphicon glyphicon-user"></span>&nbsp Staff Management</a></li>
            <li ng-class="{'active':page==='leaveSummary'||page==='leavePending'||page==='leaveApproved'||page==='leaveCompleted'||page==='leaveHistory'||page==='leaveReview'||page==='leaveApply'}"><a href="#/leave"><span class="glyphicon glyphicon-plane"></span>&nbsp Leave Management</a></li>
          </ul>
        </aside>