<div ng-controller="LoginCtrl">
      <div class="row">
        <div class="col-sm-4">
        </div>
        <form ng-show="authenticated === 0" class="col-sm-4">
        <fieldset>
        <legend>HRMS Login</legend>
          <div class="form-group">
            <span ng-show="error" class="text-danger">{{error}}</span>
            <input type="text" class="form-control" placeholder="Username" ng-model="username"><br>
            <input type="password" class="form-control" placeholder="Password" ng-model="password"><br>
            <button type="submit" class="btn btn-primary" ng-click="login()">Login</button>
          </div>

        </fieldset>
        </form>
        <div ng-show="authenticated === 1" class="col-sm-4">
          <h4>You are already Logged in...</h4>
          <a href="#/">Click here to go to Home page</a>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>