<div ng-show="authenticated === 1">
    <div class="row btn-back">
      <button class="btn btn-primary" onclick="window.history.back()">Back</button>{{file}}
    </div>
    <div class="row col-sm-10 col-sm-offset-1">
    <h4 class="bg-success" ng-show="editStaffSuccess === 1" ng-click="reset()">Staff Updated Sucessfully</h4>

        <form id="form">
            <fieldset>
            <legend>Edit Staff Information for {{staff.surname}}, {{staff.first_name}} {{staff.middle_name}}</legend>
                <div class="form-inline row content">
                    <div ng-show="changeImg === 0">
                        <img ng-src='img/staff/{{staff.img}}' class='img-responsive col-sm-3' align="middle">
                        <button class="btn btn-primary" ng-click="imgToggle()">Change Photo</button>
                    </div>
                    <div class="col-sm-3" ng-show="changeImg === 1">
                        <label class="col-sm-3">Photo: </label><input type="file" class="form-control col-sm-9 file" ng-file-select ng-model="file"> <button class="btn btn-primary reset" ng-click="imgToggle()">Cancel</button>
                    </div>
                </div>
                <div class="form-inline row content">
                    <label class="label-control col-sm-3">Name: </label>
                    <input type="text" class="form-control col-sm-3" placeholder="First" ng-model="staff.first_name">
                    <input type="text" class="form-control col-sm-3" placeholder="Middle" ng-model="staff.middle_name">
                    <input type="text" class="form-control col-sm-3" placeholder="Surname" ng-model="staff.surname">
                </div>
                <div class="form-inline row content">
                    <label class="label-control col-sm-3">Date of Birth: </label><input type="text" class="form-control col-sm-6" ng-model="staff.date_birth">
                </div>
                <div class="form-inline row content">
                    <label class="label-control col-sm-3">Sex: </label>
                        <select class="form-control col-sm-9" ng-model="staff.sex">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                </div>
                <div class="form-inline row content">
                    <label class="col-sm-3">State: </label>
                    <input type="text" class="form-control col-sm-9" ng-model="staff.state">
                </div>
                <div class="form-inline row content">
                    <label class="col-sm-3">LGA: </label>
                    <input type="text" class="form-control col-sm-9" ng-model="staff.lga">
                </div>
                <div class="form-inline row content">
                    <label class="col-sm-3">CADRE: </label>
                    <input type="text" class="form-control col-sm-9" ng-model="staff.cadre">
                </div>
                <div class="form-inline row content">
                    <label class="col-sm-3">Designation/Rank: </label>
                    <input type="text" class="form-control col-sm-9" ng-model="staff.designation">
                </div>
                <div class="form-inline row content">
                    <label class="col-sm-3">Conraiss/Step: </label>
                    <input type="text" class="form-control col-sm-9" ng-model="staff.conraiss">
                </div>
                <div class="form-inline row content">
                    <label class="col-sm-3">Date of Confirmation: </label>
                    <input type="text" class="form-control col-sm-6" ng-model="staff.date_confirmation">
                </div>
                <div class="form-inline row content">
                    <label class="col-sm-3">Date of First Appointment: </label>
                    <input type="text" class="form-control col-sm-6" ng-model="staff.date_first_app">
                </div>
                <div class="form-inline row content">
                    <label class="col-sm-3">Date of Present Appointment: </label>
                    <input type="text" class="form-control col-sm-6" ng-model="staff.date_present_app">
                </div>
                <div class="form-inline row content">
                    <label class="col-sm-3">Date of Last Promotion: </label>
                    <input type="text" class="form-control col-sm-6" ng-model="staff.date_last_promotion">
                </div>
                <div class="form-inline row content">
                    <span style="font-weight: bold">Qualifications:</span>
                    <textarea ui-tinymce class="form-control" ng-model="staff.qualifications"></textarea>
                </div>
                <div class="form-inline row content">
                    <span style="font-weight: bold">Remarks:</span>
                    <textarea ui-tinymce class="form-control" ng-model="staff.remarks"></textarea>
                </div>
            </fieldset>
            <div class="row content">
                <button type="submit" class="btn btn-primary col-xs-2 col-xs-offset-4" ng-click="submit()">Save</button>
                <button class="btn btn-default col-xs-2 col-xs-offset-1" onclick="window.history.back()">Cancel</button>
            </div>
        </form>
    </div>
</div>
<div ng-show="authenticated === 0">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <h4>You are not Authorised to View this page</h4><br>
            <a href="#/login" class="btn btn-primary">Login</a>
        </div>
    </div>
</div>